/*Common*/
body {
    overflow-x: hidden;
}

.dib {
    display: inline-block;
}

label,
li {
    text-transform: capitalize;
}

.btn-Card-Title {
    padding: 5px 12px !important;
    float: right;
    border-radius: 4px !important;
    margin-right: 5px;
    margin-top: -1px;
}

.custom-input {
    padding-left: 12px !important;
    border: 1px solid #d2d6da !important;
    margin-bottom: 15px;
}

.voidfocus {
    border: 1px solid red !important;
}

.mg-left-10 {
    margin-left: 10px;
}

.mg-right-10 {
    margin-right: 10px;
}

.mg-right-5 {
    margin-right: 5px;
}

.ph-50 {
    height: 50rem;
}

.etiqueta-detalle {
    display: none;
    width: 300px;
    height: 500px;
    overflow: scroll;
    background-color: white;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 12px 8px -1px rgb(0 0 0 / 10%), 10px 8px 6px -1px rgb(0 0 0 / 8%);
    border: darkgoldenrod 2px dashed;
}

.etiqueta-detalle-agujero {
    width: 20px;
    height: 20px;
    background-color: #8cdbffba;
    border-radius: 110px;
    margin-left: 44% !important;
    margin-top: 12px !important;
    position: absolute;
}

.btn-etiqueta {
    width: 20px;
    height: 20px;
    padding: 0px !important;
    border-radius: 110px !important;
}

/*Animation*/
.pendulo {
    transform-origin: 50% 0;
    animation: moveIt 1.25s ease-in-out;
}

@keyframes moveIt {
    0% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*Override Select2 Styles*/
.select2-container {
    margin-bottom: 15px !important;
}

.select2-selection__rendered {
    color: #495057 !important;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 35px !important;
    padding-top: 2px;
}

.select2-container .select2-selection--single {
    height: 41.5px !important;
    border: 1px solid #d2d6da !important;
    /* margin-bottom: 15px; */
    font-size: 0.875rem;
    font-weight: 400;
}

.select2-selection__arrow {
    height: 36px !important;
}


/*Formulario*/
#Clientes .row {
    font-size: 14px;
    text-align: center;
}

/*Tab Panel*/
.tab-panel {
    position: absolute;
    display: none;
}

.tab-panel-active {
    display: block !important;
}

/*Tab Bar Styles*/
.wrapper {
    text-align: center;
}

.contenedor-tabbar {
    margin-bottom: 30px;
}

.tabs {
    font-size: 25px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /* border-radius: 50px; */
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.tabs a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    /* padding: 10px 20px; */
    padding: 5px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs a.active {
    color: #fff;
}

.tabs a i {
    margin-right: 5px;
}

.tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    /* border-radius: 50px; */
    border-radius: 10px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}

/*Override*/
.custom-pad-title-car {
    padding: 10px 5px 5px 0;
}

.btn-accion {
    margin-bottom: unset !important;
    padding: 6px 11px !important;
    margin-right: 4px !important;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0px !important;
}